<h3>Deploy Rebel Figures</h3>
<p>1. Heroes enter through the enterance. If you decied with a different placement than the default one, update the map on the left.</p>
<p>2. Each hero receives one activation token and places it ready (green side faceup) on his Hero sheet. If playing with fewer than four heroes, they may receive additional activation tokens as specified on their “Legendary” or “Heroic” Reward cards.</p>
<h3>Prepare Dice, Cards, and Other Tokens</h3>
<p>Place all dice,
Condition and Supply decks, damage tokens, strain tokens,
and condition tokens within easy reach of all players.</p>

<button class="btn btn-primary" ng-click="events.pop()">Next</button>