<div ng-show="phase == 'intro'">
    <div class="flow-buttons">
        <button class="btn btn-primary" ng-click="$root.phase = 'campaign_setup'">Start campaign</button>
        <!-- <button class="btn btn-primary" ng-click="setupMission('tutorial')">Tutorial mission</button>
        <button class="btn btn-primary" ng-click="setupMission('aftermath')">Aftermath mission</button>
        <button class="btn btn-primary" ng-click="setupLOSChecker()">LOS checker</button>-->
    </div>
    <center><h2>Imperial Assault<br/>Cooperative Campaign</h2></center><br/>
    <br/>
    <p>Aid created by Maciej Cielecki you can contact me (and report bugs!) at maciej.cielecki@10clouds.com</p>
</div>