<div ng-show="phase == 'mission_setup'">
    <div class="flow-buttons">
        <button class="btn btn-default" ng-click="$root.phase = 'intro'">< back</button>
    </div>

    <h1>Aftermath</h1>
    <p>Round: {{round}}</p>
    <div class="row">
        <div class="col-md-6">
            <div class="aid-map" style=" width: 490px; height: 400px; ">
                
                <div style='width: 504px; height: 400px; position: absolute; top: 0px; left: -14px; background-image: url(maps/aftermath.jpg);background-size: 504px 379px; background-repeat: no-repeat;' ng-show="mapDisplay === 'Both' || mapDisplay === 'Ground'"></div>

                <a style='display: block; position: absolute; top: 5px; right: 5px; font-size: 12px;' ng-click="cycleMapDisplay()" href="#">{{mapDisplay}}</a>

                <div style="position:relative">
                    <div ng-show="mapDisplay === 'Both' || mapDisplay === 'Tactical'" style="position: absolute;" ia-map="map"></div>

                    <div ng-repeat="obj in map.objects" class="aid-los-marker aid-unit-{{obj.typeId}}" style="left: {{obj.screenX()}}px; top:{{obj.screenY()}}px; background-color: {{obj.ringColor ? obj.ringColor : '#999'}};" aid-map-drag="dragCallbackForObj(obj)">
                        <div class="aid-los-marker-inner" style="background-image: url(images/{{obj.img}});"></div>
                    </div>
                </div>
            </div>
            <p>
                Imperial groups:
                <img ng-repeat="group in map.groups" alt="{{group.name}}" ng-src="images/{{group.figureType.img}}" style="width: 40px; height: 40px; border-radius: 50%; margin: 3px; border: 2px #000 solid;" ng-style="{'opacity': group.active ? 1.0 : 0.25}"/>
            </p>
            <p>Threat: {{threat}} (+{{threatLevel}} per turn)</p>
        </div>
        <div class="col-md-6">
            <div ng-if="events.length > 0" aid-with="events[events.length-1] as event">
                <div ng-include="event.template"></div>
            </div>
        </div>
    </div>    
</div>