.nav, .pagination, .carousel, .panel-title a { cursor: pointer; } /* UI Bootstrap */

h1, h2, h3, h4, h5 {
    font-family: 'distant_galaxyregular';
}

.primary-message {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0;
}

.map-btn {
    font-family: 'distant_galaxyregular';
    position:absolute;
}

.map-btn.active {
    background-color: #AAA;
}

.flow-buttons {
    float: right;
    width: 40%;
    text-align: right;
}

.aid-map {
    position: relative;
}

.aid-map-cell {
    position: absolute;
    opacity: 0.5;    
    border: 1px #FFF solid;
}

.aid-map-cell-normal {
    background-color: #999;
}

.aid-map-cell-wall {
    display: none;
    background-color: #999;
}

.aid-map-cell-difficult {
    background-color: #77F;
}

.aid-los-marker {
    border: 1px #FFF solid;
    background-color: #333;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    z-index: 5;
}

.aid-object-token {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.aid-los-marker-inner {
    margin: 2px;
    background-size: 100% 100%;
    background-color: #CCC;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px #FFF solid;
    background-position: 50% 50% ;
}

.aid-los-marker:hover {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}
.aid-los-marker:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    z-index: 6;
}

.aid-los-marker.aid-visible {
    background-color: #0F0;
}

.aid-map-ground {
    position: absolute;
    background-repeat: no-repeat;
}

.aid-map-tactical {
    position: absolute;
}